.header {
  width: 100%;
  padding-top: 30px;
}

.navContainer {
  display: flex;
  gap: 20px;
}

.navContainerBtn {
  color: #ABAEB7;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.contactBtn {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: 100px;
}
