body {
  background: url(./assets/Background.svg), #101218;
  background-repeat: repeat, repeat;
  background-size: 55%;
  margin: 0;
}

.mainContainer {
  font-family:  Roboto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
